@import "./base/reset.scss";
@import "./base/font.scss";
@import "./layout/layout.scss";

$red: #fa5252;
$orange: #fd7e14;
$yellow: #fcc419;
$green: #40c057;
$blue: #339af0;
$violet: #7950f2;
$indigo: #5c7cfa;

li{list-style:none;}
@mixin square($size) {
  $calculated: 32px * $size;
  padding:5px 10px;
  text-align: center;
  border-radius:5px;
}
.box_wrap {
  display: flex;
  gap:5px;
  .box {
    background: red;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &.red {
      background: $red;
      @include square(1);
    }
    &.orange {
      background: $orange;
      @include square(2);
    }
    &.yellow {
      background: $yellow;
      @include square(3);
    }
    &.green {
      background: $green;
      @include square(4);
    }
    &.blue {
      background: $blue;
      @include square(5);
    }
    &.indigo {
      background: $indigo;
      @include square(6);
    }
    &.violet {
      background: $violet;
      @include square(7);
    }
    &:hover {
      background: black;
    }
  }
}